# Database Configuration
POSTGRES_USER=yourusername
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=shopsphere
DATABASE_URL=yourdatabaseurl

# Redis Configuration
REDIS_URL=yourredisurl

# Backend Configuration
BACKEND_PORT=5000
NODE_ENV=development
JWT_SECRET=yoursecretkey123
JWT_REFRESH_SECRET=yoursecretrefreshkey123

# Frontend Configuration
FRONTEND_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1
WATCHPACK_POLLING=true
