# Database Configuration
POSTGRES_USER=yourusername
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=shopsphere
DATABASE_URL=postgresql://yourusername:yourpassword@db:5432/shopsphere

# Redis Configuration
REDIS_URL=redis://redis:6379

# Backend Configuration
BACKEND_PORT=5000
NODE_ENV=development
JWT_SECRET=yoursecretkey123
JWT_REFRESH_SECRET=yoursecretrefreshkey123

# Frontend Configuration
FRONTEND_PORT=3000
FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1
WATCHPACK_POLLING=true

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Admin Seed Credentials
ADMIN_EMAIL=admin@shopsphere.com
ADMIN_PASSWORD=Admin@123
SALT_ROUNDS=10

# SMTP Configuration
SMTP_HOST=your_smtp_host
SMTP_USER=your_gmail
SMTP_PASS=your_password
SMTP_PORT=587
