# Database Configuration
DATABASE_URL=your_database_url

# Redis Configuration
REDIS_URL=your_redis_url

# Backend Configuration
PORT=5000
NODE_ENV=development
JWT_SECRET=yoursecretkey123
JWT_REFRESH_SECRET=yourrefreshsecret123

SALT_ROUNDS=your_salt_rounds